/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Global.scss
*/
/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Variables.scss
*/
/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Home.scss
*/
/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Variables.scss
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Futura" sans-serif;
  font-size: 2rem;
  font-weight: 300;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #Nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body #Content {
  width: 100%;
  height: 5000px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #Content #About {
  width: 100%;
  height: 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #000000;
}

body #Content #About #Headline {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  text-align: center;
  margin-top: 20%;
  font-size: 7rem;
  font-weight: 600;
  font-style: italic;
}

body #Content #About #Headline #cycle {
  width: 200px;
  display: inline-block;
}

body #Content #About #Headline #Lot {
  margin: 0 0 0 14%;
}

body #Content #Info {
  width: 100%;
  height: 20%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Info #Female-Promo {
  width: 100%;
  height: 40%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #Content #Info #Female-Promo #Female-Image-Container {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

body #Content #Info #Female-Promo #Female-Image-Container img {
  width: 100%;
  height: 100%;
}

body #Content #Info #Male-Promo {
  width: 100%;
  height: 40%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #Content #Info #Male-Promo #Male-Image-Container {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

body #Content #Info #Male-Promo #Male-Image-Container img {
  width: 100%;
  height: 100%;
}

body #Content #Services {
  width: 100%;
  height: 20%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border-top: 1px solid #e4e4e5;
  font-family: "Recursive", sans-serif;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Services #WellaProducts {
  width: 100%;
  height: 100%;
}

body #Content #Services #Info-Button {
  width: 15%;
  height: 2.5rem;
  margin-left: 50%;
  border: none;
  background-color: #da291b;
  color: #ffffff;
  outline: none;
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
}

body #Content #Services #Info-Button:hover {
  opacity: 0.8;
}

body #Content #Services #Services-Container-Row1 {
  width: 100%;
  height: 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Services #Services-Container-Row1 #Row1-Image {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body #Content #Services #Services-Container-Row1 #Row1-Image #ToolLayout {
  width: 100%;
  height: 100%;
}

body #Content #Services #Services-Container-Row1 #Row1-Info {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body #Content #Services #Services-Container-Row1 #Row1-Info #Row1-Title {
  font-weight: 900;
  font-size: 2.4rem;
  margin-left: 5%;
}

body #Content #Services #Services-Container-Row1 #Row1-Info #Row1-Title-Info {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5%;
}

body #Content #Services #Services-Container-Row2 {
  width: 100%;
  height: 33%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Services #Services-Container-Row2 #Row2-Image {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body #Content #Services #Services-Container-Row2 #Row2-Info {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body #Content #Services #Services-Container-Row2 #Row2-Info #Row2-Title {
  font-weight: 900;
  font-size: 2.4rem;
  margin-left: 5%;
}

body #Content #Services #Services-Container-Row2 #Row2-Info #Row2-Title-Info {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5%;
}

body #Content #Services #Services-Container-Row3 {
  width: 100%;
  height: 33%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Services #Services-Container-Row3 #Row3-Image {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #323232;
}

body #Content #Services #Services-Container-Row3 #Row3-Image #AmericanCrewPoster {
  width: 100%;
  height: 100%;
}

body #Content #Services #Services-Container-Row3 #Row3-Info {
  width: 50%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body #Content #Services #Services-Container-Row3 #Row3-Info #Row3-Title {
  font-weight: 900;
  font-size: 2.4rem;
  margin-left: 5%;
}

body #Content #Services #Services-Container-Row3 #Row3-Info #Row3-Title-Info {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5%;
}

body #Content #Contact {
  width: 100%;
  height: 35%;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Content #Contact #Contact-Container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 80%;
  height: 60%;
  margin: 10% auto;
  border: 1px solid #000000;
  border-left: none;
  font-family: "Recursive", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #Content #Contact #Contact-Opening {
  width: 30%;
  background-color: #e4e4e5;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #Content #Contact #Contact-Opening #Opening-Img {
  width: 90%;
  height: 30%;
  margin: 0 0 0 5%;
}

body #Content #Contact #Contact-Opening #Opening-Hours {
  width: 90%;
  height: 70%;
  margin: 0 0 0 5%;
}

body #Content #Contact #Contact-Opening #Opening-Hours #Opening-Hours-Title {
  font-size: 2rem;
  text-align: center;
}

body #Content #Contact #Contact-Opening #Opening-Hours #List-Hours {
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.5;
}

body #Content #Contact #Contact-Opening #Opening-Hours #List-Hours #Day {
  font-weight: 500;
}

body #Content #Contact #Contact-Opening #Opening-Hours #Notice {
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

body #Content #Contact #Contact-Form {
  width: 60%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #Content #Contact #Contact-Form #Label-Name,
body #Content #Contact #Contact-Form #Label-Email,
body #Content #Contact #Contact-Form #Label-Subject,
body #Content #Contact #Contact-Form #Label-Message {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2%;
}

body #Content #Contact #Contact-Form #Contact-Name,
body #Content #Contact #Contact-Form #Contact-Email,
body #Content #Contact #Contact-Form #Contact-Subject,
body #Content #Contact #Contact-Form #Contact-Message {
  outline: none;
  border: 2px solid #e4e4e5;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

body #Content #Contact #Contact-Form #Contact-Title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  margin-left: 2%;
  text-decoration: underline;
}

body #Content #Contact #Contact-Form #Contact-Name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  height: 2.5rem;
}

body #Content #Contact #Contact-Form #Contact-Email {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
  height: 2.5rem;
}

body #Content #Contact #Contact-Form #Contact-Subject {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 50%;
  height: 2.5rem;
}

body #Content #Contact #Contact-Form #Contact-Message {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 50%;
  height: 4.5rem;
}

body #Content #Contact #Contact-Form #Contact-Submit {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 15%;
  height: 2.5rem;
  margin-left: 2%;
  border: none;
  outline: none;
  background-color: #da291b;
  color: white;
  cursor: pointer;
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 1;
}

body #Content #Contact #Contact-Form #Contact-Submit:hover {
  opacity: 0.8;
}

body #Content #Contact #Bio {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  line-height: 0.4;
}

body #Content #Contact #Bio #Bio-Title {
  font-family: "Oswald";
  letter-spacing: 0.1rem;
  font-size: 4rem;
  font-weight: 400;
  color: #b5b0b0;
  text-align: center;
  top: 0;
}

body #Content #Contact #Bio #Bio-Title #Bio-Title-Bold {
  font-family: "Franklin Gothic" sans-serif;
  font-weight: 800;
  letter-spacing: 0;
  color: #000000;
}

body #Content #Contact #Bio #Bio-Info {
  font-family: "Recursive", sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  top: 0;
}

body #Content #Contact #Bio #Brand-Logos {
  width: 100%;
  margin: 3% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #Content #Contact #Bio #Brand-Logos img {
  width: 150px;
}

body #Content #Contact #Bio #Brand-Logos #WellaLogo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body #Content #Contact #Bio #Brand-Logos #AmericanCrewLogo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body #Content #Contact #Bio #Brand-Logos #KolestonLogo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body #Content #Footer {
  width: 100%;
  height: 7%;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  background-color: #000000;
}

body #Content #Footer #Footer-Info-Content {
  width: 100%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1rem;
}

body #Content #Footer #Footer-Info-Content #Address {
  font-family: "Recursive", sans-serif;
  width: 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 0 4%;
  color: #ffffff;
}

body #Content #Footer #Footer-Info-Content #Address #Address-Title {
  margin-left: 2%;
  font-size: 1rem;
  color: #ffffff;
}

body #Content #Footer #Footer-Info-Content #Address #Address-Content {
  margin-left: 2%;
  font-size: 1rem;
  color: #b5b0b0;
}

body #Content #Footer #Footer-Info-Content #Sitemap {
  width: 33%;
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-family: "Recursive", sans-serif;
  margin: 0 0 0 4%;
  color: #ffffff;
  position: relative;
}

body #Content #Footer #Footer-Info-Content #Sitemap #Sitemap-Title {
  font-size: 1rem;
  color: #ffffff;
}

body #Content #Footer #Footer-Info-Content #Sitemap #Sitemap-List {
  list-style: none;
  font-size: 1rem;
  color: #b5b0b0;
  cursor: pointer;
}

body #Content #Footer #Footer-Info-Content #Sitemap #Sitemap-Copyright {
  font-size: 0.8rem;
  color: #b5b0b0;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0 0 0 15%;
}

body #Content #Footer #Footer-Info-Content #Socials {
  width: 33%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0 0 0 6%;
  font-family: "Recursive", sans-serif;
  color: #ffffff;
}

body #Content #Footer #Footer-Info-Content #Socials #Socials-Title {
  font-size: 1rem;
  color: #ffffff;
}

body #Content #Footer #Footer-Info-Content #Socials #Socials-List {
  list-style: none;
  text-decoration: underline;
  font-size: 1rem;
  color: #b5b0b0;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  body {
    width: 100%;
  }
  body #Content {
    width: 100%;
    height: 10000px;
  }
  body #Content #About {
    width: 100%;
    height: 15%;
  }
  body #Content #About #Headline {
    margin-top: 60%;
  }
  body #Content #About #Headline #cycle {
    width: 300px;
    height: 80px;
    margin: -5% 0 15% 0;
    display: block;
    text-align: center;
  }
  body #Content #About #Headline #Lot {
    margin: 40% 0 0 14%;
  }
  body #Content #Info {
    width: 100%;
    height: 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body #Content #Info #Female-Promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #Content #Info #Male-Promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #Content #Services {
    width: 100%;
    height: 20%;
  }
  body #Content #Services #Info-Button {
    width: 30%;
    margin-left: 40%;
  }
  body #Content #Services #Services-Container-Row1 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #Content #Services #Services-Container-Row1 #Row1-Image {
    width: 100%;
  }
  body #Content #Services #Services-Container-Row1 #Row1-Info {
    width: 100%;
  }
  body #Content #Services #Services-Container-Row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #Content #Services #Services-Container-Row2 #Row2-Image {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body #Content #Services #Services-Container-Row2 #Row2-Info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body #Content #Services #Services-Container-Row3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #Content #Services #Services-Container-Row3 #Row3-Image,
  body #Content #Services #Services-Container-Row3 #Row3-Info {
    width: 100%;
  }
  body #Content #Contact {
    width: 100%;
    height: 30%;
  }
  body #Content #Contact #Contact-Container {
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000000;
  }
  body #Content #Contact #Contact-Container #Contact-Opening {
    width: 100%;
    height: 65%;
  }
  body #Content #Contact #Contact-Container #Contact-Opening #Opening-Img {
    width: 100%;
    margin: 0;
  }
  body #Content #Contact #Contact-Container #Contact-Form {
    width: 100%;
    height: 35%;
  }
  body #Content #Contact #Contact-Container #Contact-Form #Contact-Submit {
    width: 40%;
  }
  body #Content #Contact #Bio {
    width: 100%;
    height: 40%;
    line-height: 1;
  }
  body #Content #Contact #Bio #Brand-Logos {
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 30%;
  }
  body #Content #Footer {
    width: 100%;
    height: 7%;
  }
  body #Content #Footer #Footer-Info-Content {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body #Content #Footer #Footer-Info-Content #Address {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body #Content #Footer #Footer-Info-Content #Sitemap {
    width: 100%;
    height: 40%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
  }
  body #Content #Footer #Footer-Info-Content #Sitemap #Sitemap-Copyright {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 15%;
  }
  body #Content #Footer #Footer-Info-Content #Socials {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Nav.scss
*/
/*  
    Damiens' Hairdressing
    Ronan Goligy
    2021
    Variables.scss
*/
#Nav {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  height: 15%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Nav img {
  width: 25rem;
  margin-top: 10%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#Nav #Nav-Links {
  width: 30%;
  list-style: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 5rem;
}

#Nav #Nav-Links #ContactBtn, #Nav #Nav-Links #PricelistBtn {
  width: 130%;
  height: 60%;
  border: none;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  margin: 0 40%;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

#Nav #Nav-Links #ContactBtn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#Nav #Nav-Links #PricelistBtn {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: 2px solid #ffffff;
  border-radius: 9999px;
}

#Nav #Nav-Links #ContactBtn:hover, #Nav #Nav-Links #ContactBtn:focus {
  background-color: #000000;
  color: #b5b0b0;
}

#Nav #Nav-Links #PricelistBtn:hover, #Nav #Nav-Links #PricelistBtn:focus {
  background-color: #000000;
  color: #b5b0b0;
  border: 2px solid #b5b0b0;
}

@media only screen and (max-width: 460px) {
  #Nav {
    height: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #Nav img {
    margin-top: 2%;
  }
  #Nav #Nav-Links {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10% 0 0 0;
  }
  #Nav #Nav-Links #PricelistBtn {
    border: none;
  }
}
/*# sourceMappingURL=Global.css.map */