@import "variables.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  width: 100vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Source Code Pro", monospace;

  .nav {
    width: 100vw;
    height: 10%;
    order: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;

    .logo {
      width: 7rem;
      height: 4rem;
      position: absolute;
      top: 20%;
      left: 2%;
      order: 1;
    }
    .close {
      position: absolute;
      width: 6rem;
      height: 2.5rem;
      top: 25%;
      right: 10%;
      cursor: pointer;
      outline: none;
      border: 2px solid $muteRed;
      background-color: $white;
      color: $muteRed;
      border-radius: 0.4rem;

      i {
        padding: 0.2rem 0.2rem;
      }
      &:hover {
        color: $white;
        background-color: $muteRed;
      }
    }
  }

  .main {
    width: 100vw;
    height: 90%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    #speech-bubble {
      position: absolute;
      top: 20%;
      left: 10%;
      font-size: 5rem;
      color: $ice;

      @media (min-width: 920px) {
        top: 28%;
        left: 25%;
      }
    }

    .title {
      position: absolute;
      top: 20%;
      left: 35%;
      font-size: 4rem;
      color: $darkGreyFont;

      @media (min-width: 920px) {
        top: 28%;
        left: 33%;
      }
    }

    .message-info {
      height: 7%;
      position: absolute;
      top: 45%;
      left: 10%;
      padding: 0.5rem;
      border-left: 4px solid $ice;
      font-size: 1rem;

      @media (min-width: 700px) {
        top: 30%;
      }

      @media (min-width: 920px) {
        top: 45%;
        left: 25%;
        padding: 1rem;
      }
    }

    .userForm {
      width: 80%;
      height: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      position: relative;
      top: 15%;
      left: 0;
      background-color: rgba(236, 239, 244, 0.4);
      border-radius: 2rem;

      @media (min-width: 920px) {
        width: 50%;
        height: 60%;
        top: 10%;
        margin: 0 auto;
      }

      .formElement {
        width: 70%;
        height: 10%;
        margin: 0 auto;
        position: relative;

        i {
          position: absolute;
          top: 35%;
          right: 5%;
          visibility: hidden;
        }
      }

      .formElement.success {
        border: 2px solid $mintGreen;
        color: $mintGreen;
      }
      .formElement.success i.fa-check-circle {
        visibility: visible;
      }

      .formElement.failure {
        border: 2px solid $muteRed;
        color: $muteRed;
      }
      .formElement.failure i.fa-exclamation-circle {
        visibility: visible;
      }

      input,
      textarea {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        outline: none;
        border: none;
        padding: 0.5rem;
        color: $lightGreyFont;
      }

      input {
        input::placeholder {
          color: $lightGreyFont;
        }
      }

      input.failure::placeholder {
        color: $muteRed;
      }

      textarea {
        resize: vertical;
        color: $lightGreyFont;
        max-height: 150px;

        textarea::-webkit-input-placeholder,
        textarea::-moz-placeholder {
          color: $lightGreyFont;
        }
      }

      textarea.failure::placeholder {
        color: $muteRed;
      }
      .submit {
        width: 8rem;
        height: 3rem;
        margin: 0 0 0 10%;
        background-color: $ice;
        opacity: 0.9;
        border: none;
        outline: none;
        cursor: pointer;
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
